# Logs
logs
*.log
npm-debug.log*

# Runtime data
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env.local
.env.production

# Notes
DEPLOY_STEPS.md
